.hero{
    background: url("./assets/images/Hostel_room.jpg") center no-repeat fixed;
    min-height: 700px;
    padding-top: 100px;
}
.about-img{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #EAEAEA;
}